body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* The reset rules */
	margin:0px;
	padding:0px;
}

body{
	color:#555555;
	font-size:13px;
	background:#050505;
	background-image:url('../templates/default/images/grid.jpg');
	background-repeat: repeat;
	background-position:left;
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	color:#FF4E00;
}

h2{
	font-family:"Arial Narrow",Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin-top:4px;
	color:#CD3F00;
}

#main p{
	padding-bottom:8px;
}

.clear{
	clear:both;
}

#main{
	width:100%;
	/* Centering it in the middle of the page */
	margin:60px auto;
}

#main2{
	width:100%;
	/* Centering it in the middle of the page */
	margin:60px auto;
}

.container{
	margin-top:20px;
	background:#FFFFFF;
	border:1px solid #888888;
	padding:15px;
	
	/* Rounded corners */
	-moz-border-radius:20px;
	-khtml-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius:20px;
}

.container2{
	margin-top:20px;
	width:680px;
	background-image:url('images/header.png');
	background-repeat: no-repeat;
	background-position:left;
	border:1px solid #FF4E00;
	padding:18px;
	
	/* Rounded corners */
	-moz-border-radius:20px;
	-khtml-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius:20px;
}
.container3{
	margin-top:20px;
	width: 220;
	background:#000000;
	/*background:url('images/contbg.png);*/
	background-repeat:repeat;
	background-position:center;
	border:1px solid #FF4E00;
	padding:10px;
	
	/* Rounded corners */
	-moz-border-radius:20px;
	-khtml-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius:20px;
	color: white;
}

.container4{
	margin-top:20px;
	background:#000000;
	background-color: black;
	background-repeat:repeat;
	background-position:left;
	border:1px solid #FF4E00;
	padding:4px;
	
	/* Rounded corners */
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
	color: white;
}

.err{
	color:red;
}

.success{
	color:#00CC00;
}

a, a:visited {
	color:#CD0000;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

.tutorial-info{
	text-align:center;
	padding:10px;
}
/*scroll bar styling*/
.scrollgeneric {
line-height: 1px; font-size: 1px;
position: absolute; top: 0; left: 0;
}

.vscrollerbase, .vscrollerbar {
width: 15px;
}

.hscrollerbase, .hscrollerbar {
height: 15px;
}

.vscrollerbar, .hscrollerbar {
/*padding information of these elements are only used for
padding of the scroll-bar with respect to the scroll base,
the padding will automatically be turned off by the script*/
padding: 5px;
/* z-index for scrollbars no longer has to be given as of version
1.7.5 for correct operation, but it is still recommended, as this
decides the z-index for content.*/
z-index: 2;
}
.vscrollerbarbeg {
/*top image holder for vertical scroll bar*/
background: url(images/vscroller.png) 0px -10px;
width: 15px;
/* height is auto set by the script to fit the scrollbar */
}

.vscrollerbarend {
/*bottom image holder for vertical scroll bar*/
background: url(images/vscroller.png);
width: 15px; height: 10px;
}

.hscrollerbarbeg {
/*left image holder for horizontal scroll bar*/
background: url(images/hscroller.png) -10px 0px;
height: 15px;
/* width is auto set by the script to fit the scrollbar */
}

.hscrollerbarend {
/*right image holder for horizontal scroll bar*/
background: url(images/hscroller.png);
height: 15px; width: 10px;
}

/* Following are OPTIONAL */
/*
.vscrollerbase, .hscrollerbase {
background-color: #D1DDCB;
background-image: url(images/scrollbaseback.png);
}*/

.hscrollerbasebeg {
height: 15px;
background: url(images/scrollbases.png) -22px 0px no-repeat;
/* width is auto set to fill the base */
}

.hscrollerbaseend {
height: 15px; width: 7px;
background: url(images/scrollbases.png) 0% 0% no-repeat;
}

.vscrollerbasebeg {
width: 15px;
background: url(images/scrollbases.png) -7px -8px no-repeat;
/* height is auto set to fill the base */
}

.vscrollerbaseend {
height: 7px; width: 15px;
background: url(images/scrollbases.png) -7px 0px no-repeat;
}

.scrollerjogbox {
width: 15px; height: 15px;
top: auto; left: auto; bottom: 0px; right: 0px;
background: white url(images/scrolljog.png) 50% 50%;
}

.nav {
background-color: #FF4E00;
border: Defaultpx solid #ffffff;
color: #ffffff;
font-size: ;
font-family: ;
font-style: ;
font-weight: bold;
padding: 1px;
	/* Rounded corners */
	-moz-border-radius:8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
}
     